@font-face {
    font-family: 'AlegreyaNormal';
    src: url('../fonts/AlegreyaSansSC-Regular.woff2') format('woff2'),
         url('../fonts/AlegreyaSansSC-Regular.woff') format('woff');
     font-weight: 400;
    font-style: normal;
  }
@font-face {
  font-family: 'AlegreyaLight';
  src: url('../fonts/AlegreyaSans-Light.woff2') format('woff2'),
       url('../fonts/AlegreyaSans-Light.woff') format('woff');
  font-style: normal;
}
  